/* index page */
.logo {
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
  }

  .myimg {
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 35px;
  }

  .navLinks {
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
  }

  li:hover {
    background-color: #517188;
    box-sizing: border-box;
    text-align: center;
    box-shadow: #517188;
    border-radius: 5px;
  }

  .carousel-item {
    height: 60vh;
    position: relative;
  }
  .carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .carousel-caption {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
  }
  .carousel-caption h1 {
    font-size: 70px;
    margin-bottom: 0.5rem;
  }
  .carousel-caption p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .ap-btn {
    padding: 10px;
    background-color: #3bdb73;
  }

  .ap-btn:hover {
    padding: 10px;
    background-color: #52a06d;
  }

  @media (max-width: 992px) {
    .carousel-item {
      height: 50vh;
    }
    .carousel-caption h1 {
      font-size: 60px;
    }
    .carousel-caption p {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 768px) {
    .carousel-item {
      height: 50vh;
    }
    .carousel-caption h1 {
      font-size: 50px;
    }
    .carousel-caption p {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 576px) {
    .my-button {
      margin-left: 10px;
    }
    .carousel-item {
      height: 50vh; /* Adjusted for better visibility */
    }
    .carousel-caption h1 {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .carousel-caption p {
      font-size: 10px;
      margin-left: 10px;
    }
  }
  